@model IEnumerable<WebAppECart.ViewModel.ShoppingCartModel>
@{
    ViewBag.Title = "ShoppingCart";
    decimal TotalAmount = 0.00M;
}

<script type="text/javascript">
    //link the itemId and quantity into Shopping Contorller Json method "Index"
    function RemoveItem(item) {
        var itemId = $(item).attr("itemid");

        var formData = new FormData();
        formData.append("ItemId", itemId);

        $.ajax({
            async: true,
            type: 'POST',
            contentType: false,
            processData: false,
            data: formData,
            url: '/Shopping/RemoveFromCart',
            success: function (data) {
                if (data.Success) {
                    location.reload();
                }
            },
            error: function () {
                alert("There is some problem.");
            }
        })

        alert("Item deleted.");
    }

    function SessionSuccess() {
        alert("Order success");
    }

</script>


@using (Html.BeginForm("AddOrder", "Shopping", FormMethod.Post))
{
    <article id="main">
        <section class="wrapper style5">
            <!-- Main-->
            <div class="inner" style="width:50%">
                @if (Session["CartCounter"] == null && Session["OrderComplete"]==null|| Session["CartCounter"].ToString() == "0" && Session["OrderComplete"] == null)
                {
                    <h3 style="text-align:center" id="ShoppingCartMsg">Oops! Looks like your cart is empty.</h3>
                }
                else if (Session["OrderComplete"] != null)
                {
                    <h3 style="text-align:center" id="ShoppingCartMsg">Thank you.</h3>
                }
                else
                {
                    <table class="table-wrapper-cart" style="border-radius:25px">
                        <thead>
                            <tr>
                                <th colspan="6" style="text-align:center"><h3 style="margin-top:1em" id="ShoppingCartTitle">Order Summary</h3></th>
                            </tr>
                        </thead>
                        <tbody>

                            @foreach (var item in Model)
                            {
                                TotalAmount += item.Total;
                                <tr>
                                    <td>
                                        <img src="@Url.Content(item.ImagePath)" height="50" width="50" class="img-rounded" />
                                    </td>
                                    <td style="text-align:right">
                                        @item.ItemName
                                    </td>
                                    <td style="text-align:right">
                                        @item.Quantity.ToString("#,##0")
                                    </td>
                                    <td style="text-align:right">
                                        @item.UnitPrice.ToString("#,##0.00")
                                    </td>
                                    <td style="text-align: right">
                                        @item.Total.ToString("#,##0.00")
                                    </td>
                                    <td style="text-align: center">
                                        @*<a href="@Url.Action("RemoveFromCart", "Shopping", new { ItemId = item.ItemId })"><input type="button" value="Delete" name="Delete" style="font-size:x-small" class="button small"/></a>*@
                                        <input type="button" value="Delete" name="Delete" style="font-size:small" class="button small" id="btnDelete" itemid="@item.ItemId" onclick="RemoveItem(this)" />
                                    </td>
                                </tr>
                            }
                        </tbody>
                        <tfoot>
                            <tr style="text-align:right">
                                <td colspan="5">
                                    <h3>Total Amount</h3>
                                </td>
                                <td>
                                    <h3>@TotalAmount.ToString("#,##0.00")</h3>
                                </td>
                            </tr>
                            <tr style="text-align:right">
                                <td colspan="6">
                                    <input type="submit" value="Place an Order" name="Save" class="button primary" id="SaveOrder" onclick="SessionSuccess()" />
                                </td>
                            </tr>
                        </tfoot>

                    </table>
                }
                <h4 style="text-align:center"> @Html.ActionLink("Back to Menu", "Index", "Shopping")</h4>
            </div>
        </section>
    </article>
}
