<html>
<head>
    <title>ALOHA TABLE | HOME</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    @*<link href="~/Content/Site.css" rel="stylesheet" type="text/css" />*@
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Style/StyleSheet.css" rel="stylesheet" />
    <noscript><link rel="stylesheet" href="assets/css/noscript.css" /></noscript>
    <link href="~/Style/fontawesome-all.min.css" rel="stylesheet" />
</head>
<body class="landing is-preload">
    <!-- Page Wrapper -->
    <div id="page-wrapper">
        <!-- Header -->
        <header id="header">
            <h6 style="margin:0 0 0 0">Hawaiian restaurant</h6>
            <h1>ALOHA TABLE</h1>
            <nav id="nav" style="position:relative; text-align:center">
                <ul>
                    <li>
                        @Html.ActionLink("Home", "Index", "Home")
                        @Html.ActionLink("Order", "Index", "Shopping")
                        @Html.ActionLink("About", "About", "Home")
                        @Html.ActionLink("Location & Contact", "Contact", "Home")
                        @Html.Partial("_ShoppingCart")
                        <b style="color:red">***This is a fake restaurant***</b>
                    </li>
                </ul>
            </nav>

            <nav style="text-align:right; right:10px">
                <ul>
                    <li><i class="fas fa-sign-in-alt"></i>@Html.ActionLink("Login", "Index", "Account")</li>
                    <li class="special">
                        <a href="#menu" class="menuToggle"><i class="fas fa-bars"></i></a>
                        <div id="menu">
                            <ul>
                                <li>@Html.ActionLink("Home", "Index", "Home")</li>
                                <li>@Html.ActionLink("Order", "Index", "Shopping")</li>
                                <li>@Html.ActionLink("Order", "Index", "Shopping")</li>
                                <li>@Html.ActionLink("About", "About", "Home")</li>
                                <li>@Html.ActionLink("Location & Contact", "Contact", "Home")</li>
                                <li>@Html.Partial("_ShoppingCart")</li>
                            </ul>
                        </div>
                    </li>
                </ul>
            </nav>
        </header>
        <!-- Main -->
        @RenderBody()

        <!-- Footer -->
        <footer id="footer">
            <ul class="icons">
                <li><a href="#" class="icon brands fa-twitter"><span class="label">Twitter</span></a></li>
                <li><a href="#" class="icon brands fa-facebook-f"><span class="label">Facebook</span></a></li>
                <li><a href="#" class="icon brands fa-instagram"><span class="label">Instagram</span></a></li>
                <li><a href="#" class="icon solid fa-envelope"><span class="label">Email</span></a></li>
            </ul>
            <p>&copy; @DateTime.Now.Year - ALOHA TABLE.ASP.NET</p>
        </footer>

    </div>
    <!-- End of Page Wrapper -->

    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <script src="~/Scripts/jquery.scrollex.min.js"></script>
    <script src="~/Scripts/jquery.scrolly.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/breakpoints.min.js"></script>
    <script src="~/Scripts/browser.min.js"></script>
    <script src="~/Scripts/util.js"></script>
    <script src="~/Scripts/Main.js"></script>
    <script src="~/Scripts/modernizr-2.8.3.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
</body>
</html>