@model WebAppECart.ViewModel.AccountViewModel
@{
    ViewBag.Title = "Index";
}
<style>
    .filed-validation-error {
        color: red !important;
    }
</style>
@*<script type="text/javascript">


</script>*@
<!-- Login Page -->

    <article id="main">
        <section class="wrapper style4" style="padding-top:10em; padding-bottom:10em">
            <div class="login-inner">
                @using (Html.BeginForm("Authorization", "Account", FormMethod.Post))

                {
                    <table class="table-wrapper-login">
                        <tbody>
                            <tr style="background-color: whitesmoke">
                                @*1st row*@
                                <td style="width:40%; text-align:center">
                                    @Html.LabelFor(model => model.UserName, new { style = "margin:0 0 0 0" })
                                </td>
                                <td>
                                    @Html.EditorFor(model => model.UserName)
                                    @Html.ValidationMessageFor(model => model.UserName)

                                </td>
                            </tr>
                            <tr style="background-color:whitesmoke">
                                @*2nd row*@
                                <td style="width:40%; text-align:center">
                                    @Html.LabelFor(model => model.UserPassword, new { style = "margin:0 0 0 0" })
                                </td>
                                <td>
                                    @Html.EditorFor(model => model.UserPassword)
                                    @Html.ValidationMessageFor(model => model.UserPassword)

                                </td>
                            </tr>
                            <tr>
                                <td colspan="2" style = "background-color:whitesmoke">
                                    <label class="filed-validation-error">@Html.DisplayFor(model => model.LoginErrorMessage, new { }) </label>
                                </td>
                            </tr>

                        </tbody>
                        <tfoot>
                            <tr>
                                <td colspan="2" style="text-align:right">
                                    <input type="submit" value="Login" class="button primary" id="btnLogin"/>
                                    <input type="reset" value="Clear" class="button btn-default" id="btnClear" style=" background-color:pink" />
                                </td>
                            </tr>
                        </tfoot>
                    </table>
                }


            </div>
        </section>
    </article>


